.spacer {
    flex: 1 1 auto;
}

.small-spacer {
    width: 5rem;
    /* Adjust the width as needed */
    height: 5rem;
    /* Adjust the height as needed */
}


a:hover {
    text-decoration: underline;
    cursor: pointer;
}


