<nav>
    <div (mouseover)="logo.onMouseOver()" (mouseleave)="logo.onMouseLeave()" (click)="this.onLogoClick()">
        <app-logo #logo hoverColor="rgba(30, 30, 30, 0.8)"></app-logo>
        <p *ngIf="!this.isHomePage()" @fadeInOut>Home</p>
    </div>
    <ul>
        <li>
            <app-link link="discover">Discover</app-link>
        </li>
        <li *ngIf="authService.isLoggedIn()">
            <app-link link="trips">Trips</app-link>
        </li>
        <li>
            <app-link link="about">About</app-link>
        </li>
        <li *ngIf="!authService.isLoggedIn()">
            <navbar-button (onClick)="navigateToAuth()" [isPage]="isAuthPage()">Log In</navbar-button>
        </li>
        <li *ngIf="authService.isLoggedIn()">
            <navbar-button (onClick)="authService.logout()">Log Out</navbar-button>
        </li>
    </ul>
</nav>
