div {
    height: 1rem;
    width: 120%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);

    input {
        margin-left: 0.5rem;
        font-size: 1rem;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.7);
        }
    };

    &:focus-within {
        border-color: rgba(0, 0, 0, 0.8);
    }
}
