.inputBox {
    display: flex;
    position: relative;
    height: 1.875rem;
    margin-top: 3rem;

    input {
        width: 100%;
        font-size: 1.25rem;
        background: transparent;
        border: none;
        border-bottom: 1px solid #1E1E1E;
        outline: none;
        color: #1E1E1E;

        &:focus ~ label {
            transform: translateY(-100%);
        }
    }

    label {
        position: absolute;
        left: 0.5rem;
        pointer-events: none;
        font-size: 1.25rem;
        font-weight: bolder;
        transition: transform 0.5s ease;

        &.active {
            transform: translateY(-100%);
        }
    }

}
