<form (ngSubmit)="onSubmit($event)" [formGroup]="this.form">
    <h3>Registration</h3>
    <div class="flexInputBox">
        <app-input [control]="this.form.controls.firstName" id="firstName" label="First Name" type="text"></app-input>
        <app-input [control]="this.form.controls.lastName" id="lastName" label="Last Name" type="text"></app-input>
    </div>
    <app-input [control]="this.form.controls.username" id="username" label="Username" type="text"></app-input>
    <app-input [control]="this.form.controls.email" id="email" label="Email" type="text"></app-input>
    <app-input [control]="this.form.controls.password" id="password" label="Password" type="password"></app-input>
    <app-checkbox [control]="this.form.controls.remember" id="remember" label="Remember me"></app-checkbox>
    <p *ngIf="this.errorMessage" class="errorMessage">{{ this.errorMessage }}</p>
    <app-submit-button text="Register"></app-submit-button>
    <p>
        Already have an account? <br>
        <button type="button" (click)="this.toggleForm()">Login</button>
    </p>
</form>
