<main>
    <div>
        <h1>Who We Are</h1>
        <p class="frosty">
            We are a team of four enthusiastic students from DHBW Heidenheim, passionate about travel and technology.
            Our diverse backgrounds and shared love for exploring new places
            have driven us to create this innovative trip planner website.
        </p>
    </div>
    <div>
        <p class="frosty">
            Our mission is simple: to make travel planning easy, enjoyable, and stress-free.
            We believe that everyone deserves a seamless travel experience,
            whether you're a seasoned globetrotter or a first-time adventurer.
        </p>
        <h1 style="text-align: right">Our Mission</h1>
    </div>
    <div>
        <h1>Our Story</h1>
        <p class="frosty">
            The idea for Adventure-Atlas was born out of our own experiences with the challenges of travel planning.
            We realized that there was a need for a tool that could simplify the process and provide reliable information all in one place.
            With our combined skills in web development, design, and travel expertise, we set out to create a solution that would help others navigate their journeys with ease.
        </p>
    </div>
    <div class="list">
        <h1>What we offer</h1>
        <div class="cardContainer">
            <div class="card">
                <h2>Personalized Trips</h2>
                <p>
                    Tailored travel plans based on your preferences and interests.
                </p>
            </div>
            <div class="card">
                <h2>Comprehensive Guides</h2>
                <p>
                    Detailed information on destinations, attractions, and local tips.
                </p>
            </div>
            <div class="card">
                <h2>User-Friendly Interface</h2>
                <p>
                    Intuitive design that makes planning your trip a breeze.
                </p>
            </div>
        </div>
    </div>
</main>
