<main #main>
    <div class="header">
        <app-search-bar (onInput)="onSearch($event)" placeholder="Search for a trip..."></app-search-bar>
        <h2>Total trips: {{ (filteredTrips$ | async)?.length }}</h2>
        <button type="button" (click)="createTripOpen = true" >Add</button>
    </div>
    <app-trip-list #tripList [trips$]="filteredTrips$" (editTrip)="selectedTrip = $event"></app-trip-list>
</main>
<app-modal *ngIf="selectedTrip"
           [trip]="selectedTrip"
           (saveTrip)="updateTrip($event)"
           (cancel)="cancelTrip($event)"
           (deleteTrip)="deleteTrip($event)">
</app-modal>
<app-create-modal *ngIf="createTripOpen"
                  (createTrip)="createTrip($event)"
                  (cancel)="closeCreateModal()">
</app-create-modal>
