.container {
    box-sizing: border-box;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    height: 90vh;
    width: 100vw;
}

.map-group {
    display: flex;
    width: 100%;
    position: relative;
}

.edit-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 50%;
    bottom: 50%;
    width: 350px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.waypoints-list {
    position: absolute;
    left: 2rem;
    top: 2rem;
    bottom: 2rem;
    z-index: 10;
    background: #1E1E1E;
    border-radius: 10px;
    width: 350px;
}

app-searchbar{
    position: absolute;
    top: 2rem;
    width: 400px;
    z-index: 10;
}

.map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.map app-map-display {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: inset(2px round 10px);
}
