<div #editPage class="container">
    <app-stages-list></app-stages-list>
    <div class="map-group">
        <app-waypoints-list
            class="waypoints-list"
            [@fadeInOutLeft]="selectedStage ? 'visible' : 'hidden'"
            [stage]="selectedStage">
        </app-waypoints-list>
        <div class="map">
            <app-searchbar id="searchbar" (newPreviewCoordinates)="onPreviewCoordinates($event)" [@fadeInOutUp]="selectedStage ? 'visible' : 'hidden'"></app-searchbar>
            <app-map-display
                [stage]="selectedStage"
                [previewCoordinates]="previewCoordinates">
            </app-map-display>
            <app-day-panel id="day-panel" [@fadeInOutDown]="stagesService.getSelectedDay() ? 'visible' : 'hidden'"></app-day-panel>
        </div>
        <app-edit-section
            class="edit-section"
            [@fadeInOutRight]="selectedStage ? 'visible' : 'hidden'">
        </app-edit-section>
    </div>
</div>
