.element{
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: white;
    width: 100%;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.26) 1px solid;
    height: 70px;
    justify-content: center;
    box-sizing: border-box;
    cursor: grab;
}

.editable-name {
    margin: 0;
    padding: 0;
    outline: none;
    pointer-events: auto;// Ensure clicks register

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;

    &:focus {
        border-bottom: 1px dashed #666;
    }
}
