<google-map #map [zoom]="zoom" [options]="mapOptions" width="100%" height="100%">
    <map-directions-renderer *ngIf="directionsResult" [directions]="directionsResult" [options]="directionsRendererOptions"></map-directions-renderer>
    @for(markerPosition of markerPositions; track markerPosition; let i = $index){
        <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="{ draggable: stagesService.hasWriteAccess()}" (mapDragend)="onMarkerDragEnd($event, i)" [label]="stage?.displayRoute ? getMarkerLabel(i) : ''"></map-marker>
    }
    <map-marker
        *ngIf="previewMarkerPosition"
        [position]="previewMarkerPosition"
        [title]="'Preview Location'"
    ></map-marker>
</google-map>
