<div class="background">

</div>
<main>
    <div class="description">
        <h2>Plan your <br>journey.</h2>
        <div>
            <p>
                <span class="bold">Adventure Atlas</span> is your ultimate trip planning companion. <br>
                Discover new destinations, plan your adventures, <br>
                and explore trips shared by fellow travelers. <br>
                Start your journey with us today and <br>
                turn your travel dreams into reality.
            </p>
            <app-link link="auth">
                <span class="normal">Sign In</span>
                <svg class="icon" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.2576 30.525L31.45 22.3325M31.45 22.3325L23.2576 14.1401M31.45 22.3325H9.55001C7.34087 22.3325 5.55001 20.5417 5.55001 18.3325V6.47498" stroke="#1E1E1E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </app-link>
        </div>
    </div>
    <div class="title">
        <app-logo [width]="130" [height]="250"></app-logo>
        <h1>Adventure Atlas</h1>
    </div>
</main>
<footer>
    <a class="footerLink" [routerLink]="">Privacy Policy</a>
    <a class="footerLink" [routerLink]="">Terms of Service</a>
    <a class="footerLink" [routerLink]="">Contact</a>
    <a class="footerLink" [routerLink]="">Impressum</a>
</footer>

