.box {
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    //cursor: move; //=> moved into html with additional logic
    //background: white;
    font-size: 14px;
    border-radius: 10px;
    height: 100px;
    user-select: none; //Make text not selectable with cursor to not interfere with dragging
    transition: background-color 250ms ease;
    background-color: #f0f0f0;
    opacity: 1;
}

.box.selected{
    //opacity: 0.5;
    background-color: #BBBBBB;
    // box-sizing: content-box;
    //border: #1E1E1E 5px solid;
}

//Todo: if title gets deleted in input section, the line moves up a bit; should be empty string with same height?
.text{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
}

.line{
    width: 90%;
    border: none;
    height: 3px;
    margin: 0;
    background-color: black;
}
