<div class="container"
     #listContainer
     cdkDropList
     [cdkDropListData]="waypoints"
     (cdkDropListDropped)="drop($event)">
    <div class="header">
        <h2>Waypoints</h2>
    </div>
    <div class="waypoints-list">
        <div class="spacer"></div>
        @for (waypoint of waypoints; track waypoint; let i = $index) {
            <div class="drag-item"
                 cdkDrag
                 #itemElem
                 [cdkDragDisabled]="!stagesService.hasWriteAccess()"
                 [@fadeMove]="skipEnterAnimation ? null : 'enter'"
                 [cdkDragData]="waypoint"
                 (cdkDragMoved)="dragMoved($event)"
                 (cdkDragReleased)="dragReleased($event)">
                <app-waypoint-element [waypoint]="waypoint" (waypointUpdated)="updateWaypoint(i, $event)" ></app-waypoint-element>
                <div class="custom-placeholder"
                     *cdkDragPlaceholder
                     [class.over-trash]="isOverTrash"></div>
            </div>
        }
    </div>
</div>
