<div class="container">
    <div class="header">
        <h2>Waypoints</h2>
    </div>
    <div class="waypoints-list"
         cdkDropList
         [cdkDropListData]="waypoints"
         (cdkDropListDropped)="drop($event)">
        <div class="spacer"></div>
        @for (waypoint of waypoints; track waypoint.id) {
            <div cdkDrag>
                <app-waypoint-element [waypoint]="waypoint"></app-waypoint-element>
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
            </div>
        }
    </div>
</div>
