body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #1E1E1E;
    min-height: 100vh;
    background-image: url("/assets/images/waves.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}
